#container {
  background-color: pink;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 2fr;
}
.child {
  background-color: yellowgreen;
}
.child1 {
  grid-column: 1/4;
}
.child3 {
  grid-row: 2/5;
}
